.main-box{
    display: flex;
    width: 9rem;
    height: 10%;
    border: 1px solid black;
    border-radius: 5%;
}

.main-box__subBox{
    height: 2rem;
    width: 3rem;
}

.click:hover,
.click:active{
    cursor: pointer;
}

.sumar{
    background: rgb(102, 228, 102);
    font-size: 15px;
    text-align: center;
}

.sumar:hover,
.sumar:active{
    background: rgb(150, 235, 150);
}

.restar{
    background: rgb(221, 84, 84);
    font-size: 15px;
    text-align: center;
}

.restar:hover,
.restar:active{
    background: rgb(221, 131, 131);
}

.numero{
    font-size: 1rem;
    text-align: center;
    font-weight: bolder;
    color: black;
}